<div ng-if="vmcpt.finishedLoading" ng-hide="vmcpt.hidden" ng-form="vmcpt.textareaField">
  <md-input-container class="md-block" flex>
    <h3 ng-if="vmcpt.nonMaterialView" translate="{{vmcpt.fieldName}}"></h3>
    <label ng-if="!vmcpt.nonMaterialView" translate="{{vmcpt.fieldName}}"></label>
    <textarea
      ng-readonly="vmcpt.readonly"
      ng-required="vmcpt.required"
      ng-minlength="vmcpt.minLength"
      ng-maxlength="vmcpt.maxLength"
      ng-pattern="vmcpt.pattern"
      ng-model="vmcpt.model"
      name="textarea"
      aria-label="{{ vmcpt.fieldName | translate }}"">
    </textarea>
    <div class="hint" ng-if="(vmcpt.textareaField.textarea.$valid || vmcpt.textareaField.textarea.$pristine) && vmcpt.hint"
      translate="{{vmcpt.hint}}"></div>
    <div ng-messages="vmcpt.textareaField.textarea.$error" role="alert" multiple>
      <div ng-message="required">
        <span translate="FIELD_REQUIRED"></span>
      </div>
      <div ng-message="minlength">
        <span>{{'MIN_LENGTH_IS' | translate:{value:vmcpt.minLength}}}</span>
      </div>
      <div ng-message="maxlength">
        <span>{{'MAX_LENGTH_IS' | translate:{value:vmcpt.maxLength}}}</span>
      </div>
      <div ng-message="pattern">
          <span>{{('DOES_NOT_MATCH_PATTERN' | translate ) + ' ' + vmcpt.patternDescription}}</span>
      </div>
    </div>
  </md-input-container>
</div>
