<frl-field-chips
  ng-switch-when="chips"
  frl-fieldname="{{
    vmcpt.definitions.fieldname.modelObject[
      vmcpt.definitions.fieldname.modelAttribute
    ]
  }}"
  frl-hint="{{
    vmcpt.definitions.hint.modelObject[vmcpt.definitions.hint.modelAttribute]
  }}"
  frl-readonly="vmcpt.definitions.readonly.modelObject[vmcpt.definitions.readonly.modelAttribute]"
  frl-required="vmcpt.definitions.required.modelObject[vmcpt.definitions.required.modelAttribute]"
  frl-hidden="vmcpt.definitions.hidden.modelObject[vmcpt.definitions.hidden.modelAttribute]"
  frl-maxlength="vmcpt.definitions.maxlength.modelObject[vmcpt.definitions.maxlength.modelAttribute]"
  frl-nonmaterialview="vmcpt.definitions.nonmaterialview.modelObject[vmcpt.definitions.nonmaterialview.modelAttribute]"
  frl-model="vmcpt.model"
  frl-initialvalue="{{
    vmcpt.definitions.initialvalue.modelObject[
      vmcpt.definitions.initialvalue.modelAttribute
    ]
  }}"
  frl-separatorkeys="vmcpt.definitions.separatorkeys.modelObject[vmcpt.definitions.separatorkeys.modelAttribute]"
>
</frl-field-chips>
