<frl-data-rower
  ng-switch-when="datarower"
  frl-base-model="vmcpt.baseModel"
  frl-model="vmcpt.model"
  frl-model-path="{{ vmcpt.modelPath }}"
  frl-fieldname="{{
    vmcpt.definitions.fieldname.modelObject[
      vmcpt.definitions.fieldname.modelAttribute
    ]
  }}"
  frl-childrendefinitions="vmcpt.definitions.childrendefinitions.modelObject[vmcpt.definitions.childrendefinitions.modelAttribute]"
  frl-hint="{{
    vmcpt.definitions.hint.modelObject[vmcpt.definitions.hint.modelAttribute]
  }}"
  frl-readonly="vmcpt.definitions.readonly.modelObject[vmcpt.definitions.readonly.modelAttribute]"
  frl-required="vmcpt.definitions.required.modelObject[vmcpt.definitions.required.modelAttribute]"
  frl-minlength="vmcpt.definitions.minlength.modelObject[vmcpt.definitions.minlength.modelAttribute]"
  frl-maxlength="vmcpt.definitions.maxlength.modelObject[vmcpt.definitions.maxlength.modelAttribute]"
  frl-initialvalue="vmcpt.definitions.initialvalue.modelObject[vmcpt.definitions.initialvalue.modelAttribute]"
  frl-itemnamefield="{{
    vmcpt.definitions.itemnamefield.modelObject[
      vmcpt.definitions.itemnamefield.modelAttribute
    ]
  }}"
  frl-itemorderfield="{{
    vmcpt.definitions.itemorderfield.modelObject[
      vmcpt.definitions.itemorderfield.modelAttribute
    ]
  }}"
>
</frl-data-rower>
