<frl-field-displaytext
  ng-switch-when="displaytext"
  frl-fieldname="{{
    vmcpt.definitions.fieldname.modelObject[
      vmcpt.definitions.fieldname.modelAttribute
    ]
  }}"
  frl-model="vmcpt.model"
  frl-hidden="vmcpt.definitions.hidden.modelObject[vmcpt.definitions.hidden.modelAttribute]"
  frl-text="{{
    vmcpt.definitions.text.modelObject[vmcpt.definitions.text.modelAttribute]
  }}"
  frl-nonmaterialview="vmcpt.definitions.nonmaterialview.modelObject[vmcpt.definitions.nonmaterialview.modelAttribute]"
>
</frl-field-displaytext>
