<frl-field-select
  ng-switch-when="select"
  frl-fieldname="{{
    vmcpt.definitions.fieldname.modelObject[
      vmcpt.definitions.fieldname.modelAttribute
    ]
  }}"
  frl-model="vmcpt.model"
  frl-readonly="vmcpt.definitions.readonly.modelObject[vmcpt.definitions.readonly.modelAttribute]"
  frl-required="vmcpt.definitions.required.modelObject[vmcpt.definitions.required.modelAttribute]"
  frl-hint="{{
    vmcpt.definitions.hint.modelObject[vmcpt.definitions.hint.modelAttribute]
  }}"
  frl-hidden="vmcpt.definitions.hidden.modelObject[vmcpt.definitions.hidden.modelAttribute]"
  frl-nonmaterialview="vmcpt.definitions.nonmaterialview.modelObject[vmcpt.definitions.nonmaterialview.modelAttribute]"
  frl-initialvalue="{{
    vmcpt.definitions.initialvalue.modelObject[
      vmcpt.definitions.initialvalue.modelAttribute
    ]
  }}"
  frl-list="vmcpt.definitions.optionlist.modelObject[vmcpt.definitions.optionlist.modelAttribute]"
  frl-itemnamefield="{{
    vmcpt.definitions.itemnamefield.modelObject[
      vmcpt.definitions.itemnamefield.modelAttribute
    ]
  }}"
  frl-itemidfield="{{
    vmcpt.definitions.itemidfield.modelObject[
      vmcpt.definitions.itemidfield.modelAttribute
    ]
  }}"
  frl-multiple="vmcpt.definitions.multiple.modelObject[vmcpt.definitions.multiple.modelAttribute]"
  frl-basemodel="vmcpt.baseModel"
>
</frl-field-select>
