<frl-table
  ng-switch-when="table"
  frl-model="vmcpt.model"
  frl-fieldname="{{
    vmcpt.definitions.fieldname.modelObject[
      vmcpt.definitions.fieldname.modelAttribute
    ]
  }}"
  frl-columns="vmcpt.definitions.columns.modelObject[vmcpt.definitions.columns.modelAttribute]"
  frl-columnnamefield="{{
    vmcpt.definitions.columnnamefield.modelObject[
      vmcpt.definitions.columnnamefield.modelAttribute
    ]
  }}"
  frl-columnnamelist="vmcpt.definitions.columnnamelist.modelObject[vmcpt.definitions.columnnamelist.modelAttribute]"
  frl-columnorderfield="{{
    vmcpt.definitions.columnorderfield.modelObject[
      vmcpt.definitions.columnorderfield.modelAttribute
    ]
  }}"
  frl-columnfilter="vmcpt.definitions.columnfilter.modelObject[vmcpt.definitions.columnfilter.modelAttribute]"
  frl-hint="{{
    vmcpt.definitions.hint.modelObject[vmcpt.definitions.hint.modelAttribute]
  }}"
  frl-help="{{
    vmcpt.definitions.help.modelObject[vmcpt.definitions.help.modelAttribute]
  }}"
  frl-linenamefield="{{
    vmcpt.definitions.linenamefield.modelObject[
      vmcpt.definitions.linenamefield.modelAttribute
    ]
  }}"
  frl-linenamelist="vmcpt.definitions.linenamelist.modelObject[vmcpt.definitions.linenamelist.modelAttribute]"
  frl-lineorderfield="{{
    vmcpt.definitions.lineorderfield.modelObject[
      vmcpt.definitions.lineorderfield.modelAttribute
    ]
  }}"
  frl-linefilter="vmcpt.definitions.linefilter.modelObject[vmcpt.definitions.linefilter.modelAttribute]"
  frl-celllinefield="{{
    vmcpt.definitions.celllinefield.modelObject[
      vmcpt.definitions.celllinefield.modelAttribute
    ]
  }}"
  frl-wraparound="vmcpt.definitions.wraparound.modelObject[vmcpt.definitions.wraparound.modelAttribute]"
>
</frl-table>
