<frl-field-text
        ng-switch-when="text"
        frl-fieldname="{{
          vmcpt.definitions.fieldname.modelObject[
            vmcpt.definitions.fieldname.modelAttribute
          ]
        }}"
        frl-model="vmcpt.model"
        frl-readonly="vmcpt.definitions.readonly.modelObject[vmcpt.definitions.readonly.modelAttribute]"
        frl-required="vmcpt.definitions.required.modelObject[vmcpt.definitions.required.modelAttribute]"
        frl-hint="{{
          vmcpt.definitions.hint.modelObject[vmcpt.definitions.hint.modelAttribute]
        }}"
        frl-hidden="vmcpt.definitions.hidden.modelObject[vmcpt.definitions.hidden.modelAttribute]"
        frl-minlength="vmcpt.definitions.minlength.modelObject[vmcpt.definitions.minlength.modelAttribute]"
        frl-maxlength="vmcpt.definitions.maxlength.modelObject[vmcpt.definitions.maxlength.modelAttribute]"
        frl-mask="{{
          vmcpt.definitions.mask.modelObject[vmcpt.definitions.mask.modelAttribute]
        }}"
        frl-pattern="{{
          vmcpt.definitions.pattern.modelObject[
            vmcpt.definitions.pattern.modelAttribute
          ]
        }}"
        frl-nonmaterialview="vmcpt.definitions.nonmaterialview.modelObject[vmcpt.definitions.nonmaterialview.modelAttribute]"
        frl-patterndescription="vmcpt.definitions.patterndescription.modelObject[vmcpt.definitions.patterndescription.modelAttribute]"
        frl-initialvalue="{{
          vmcpt.definitions.initialvalue.modelObject[
            vmcpt.definitions.initialvalue.modelAttribute
          ]
        }}"
      >
      </frl-field-text>  