<div ng-switch="vmcpt.loaded" class="frl-data-rower md-padding">
  <div ng-form="vmcpt.dataRowerForm" ng-switch-when="true">
    <div>
      <span class="md-title">
        {{ vmcpt.fieldName || 'ITEMS' | translate }}
      </span>
      <span>
        <md-tooltip md-direction="right">{{
          'ADDITEM' | translate
        }}</md-tooltip>
        <md-button
          type="button"
          class="md-primary"
          aria-label="Add"
          ng-click="vmcpt.addItem()"
        >
          <md-icon md-svg-icon="baseline-add_box-24px.svg"></md-icon>
        </md-button>
      </span>
    </div>
    <div class="hint" ng-if="vmdr.hint" translate="{{ vmdr.hint }}"></div>
    <div ng-if="vmcpt.model.length > 0">
      <div
        ng-repeat="childModel in vmcpt.model | orderBy: vmcpt.getChildOrder track by childModel._id"
        ng-form="{{ 'vmcpt.form' + childModel._id }}"
      >
        <md-content>
          <div>
            <span class="md-subhead">
              {{ vmcpt.getChildName(childModel, $index) }}
            </span>
            <span>
              <md-tooltip md-direction="right">{{
                'DELETE' | translate
              }}</md-tooltip>
              <md-button
                type="button"
                class="md-primary"
                aria-label="Delete"
                ng-click="vmcpt.deleteItem(childModel._id)"
              >
                <md-icon md-svg-icon="baseline-delete-24px.svg"></md-icon>
              </md-button>
            </span>
          </div>
          <div>
            <md-content class="md-padding">
              <frl-field-router
                frl-model="childModel"
                frl-base-model="vmcpt.baseModel"
                frl-model-path="{{
                  vmcpt.modelPath.concat + '._id:' + childModel._id
                }}"
                frl-field-definitions="vmcpt.childrenDefinitions"
              ></frl-field-router>
            </md-content>
          </div>
        </md-content>
      </div>
    </div>
    <div ng-if="vmcpt.model.length === 0">
      {{ 'NOITEMS' | translate }}
    </div>
  </div>
  <div ng-switch-when="undefined" class="loading-animation">
    {{ 'LOADING' | translate }}
  </div>
  <div ng-switch-when="false" class="load-failled">
    {{ 'LOADINGFAILLED' | translate }}
  </div>
</div>
